@import "atoms/buttons";
@import "atoms/fonts";
@import "atoms/forms";
@import "atoms/headings";

& {
	font: $fontWeightDefault $baseUnit $fontStackDefault;
	line-height: 1.5;
}

body {
	color: $colorDark;
	font-family: $fontStackDefault;
	font-size: 18px;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

#wrapper {
	padding: 0;
}