@import "atoms/buttons";
@import "atoms/forms";
@import "atoms/headings";

& {
	font: normal $baseUnit $fontStackDefault;
	line-height: 1.5;
}

body {
	color: $colorDark;
	font-family: $fontStackDefault;
	font-size: 18px;


	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	&.controls-visible.signed-in #content {
		padding-top: 7rem;
	}
}

#wrapper, .portlet, .portlet-content {
	padding: 0;
	margin: 0;
}