/* ---------- Color ---------- */

@mixin color-util($name, $color) {
	.background-#{$name} {
		background-color: $color;
	}

	.border-#{$name} {
		border-color: $color;
	}

	.color-#{$name} {
		color: $color;
	}

	.fill-#{$name} {
		fill: $color;
	}

	.stroke-#{$name} {
		stroke: $color;
	}
}

/* ---------- Font size ---------- */

@mixin font-size($size, $min, $max: false, $fallback: false) {
	$sizeUnitless: strip-unit($size);

	$maxBreakpoint: ($max / $sizeUnitless) / ($baseUnitless /100);
	$minBreakpoint: ($min / $sizeUnitless) / ($baseUnitless / 100);

	@media (max-width: #{$minBreakpoint}) {
		font-size: $min;
	}

	@if $max {
		@media (min-width: #{$maxBreakpoint}) {
			font-size: $max;
		}
	}

	@if $fallback {
		font-size: $fallback;
	}

	font-size: $size;
}