h1, h2, h3, h4, h5, h6, .section-heading, .sub-heading {
	font-weight: 600;
	line-height: 1.25em;
	margin: 0 0 $spacingStandard;
}

h1 {
	font-size: 3rem;
}

h2, .section-heading {
	font-size: 2.25rem;
}

h3 {
	font-size: 1.75rem;
}

h4, .subheading {
	font-size: 1.25rem;
}

@include respond-to(tablet) {
	h1 {
		font-size: 2.5rem;
	}

	h2, .section-heading {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}
}

@include respond-to(phone) {
	h1 {
		font-size: 2rem;
	}

	h2, .section-heading {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.25rem;
	}
}