@import "molecules/cards";
@import "molecules/forms";
@import "molecules/navigation";

.banner {
	align-items: center;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	color: $colorLight;
	display: flex;
	height: 100vh;
	margin: 0 -10px;
	max-height: 862px;
	min-height: 400px;
	padding: 2em;
	text-align: center;
}

.portlet-title-text {
	display: none;
}