/* ---------- Borders ---------- */

$borderRadius: 4px;
$borderWidth: 2px;

/* ---------- Colors ---------- */

$colorDark: #3D3D3D;
$colorDarkAlt: #B2B2B2;
$colorError: #AC2E32;
$colorLight: #FFF;
$colorLightAlt: #DFDFDF;
$colorNeutral: #183C5C;
$colorPositive: #1B5C19;
$colorPrimary: #BB2521;
$colorSecondary: #156D71;
$colorTertiary: #181B5C;

/* ---------- Text ---------- */

$fontSize: 16px;
$lineHeight: 1.5em;

/* ---------- Spacing ---------- */

$spacingLarge: 3rem;
$spacingSmall: 0.5rem;
$spacingStandard: 1rem;

