/* ---------- Borders ---------- */

$borderRadius: 4px;
$borderWidth: 2px;

/* ---------- Colors ---------- */

$colorDark: #111;
$colorDarkAlt: #626163;
$colorError: #DB8C04;
$colorLight: #FFF;
$colorLightAlt: #DFDFDF;
$colorNeutral: #00538c;
$colorPositive: #008c39;
$colorPrimary: #8C000D;
$colorSecondary: #288282;
$shadowBlurColor: rgba(76, 76, 76, 0.16);
$shadowMainColor: rgba(76, 76, 76, 0.8);

/* ---------- Elevation ---------- */

$elevation1: 0 0 0.625em 0 $shadowBlurColor, 0 0.25em 0.5em -0.375em $shadowMainColor;
$elevation2: 0 0 0.75em 0 $shadowBlurColor, 0 0.375em 1em -0.5em $shadowMainColor;
$elevation3: 0 0 0.875em 0 $shadowBlurColor, 0 0.5em 1.125em -0.5em $shadowMainColor;
$elevation4: 0 0 1em 0 $shadowBlurColor, 0 0.625em 0.875em -0.375em $shadowMainColor;
$elevation5: 0 0 1.125em 0 $shadowBlurColor, 0 0.75em 1em -0.375em $shadowMainColor;
$elevationReset: 0 0 0 0 $shadowBlurColor, 0 0 0 0 $shadowMainColor;

/* ---------- Font ---------- */

$fontStackDefault: "Metropolis", "Montserrat", Arial, Helvetica, sans-serif;
$fontWeightBold: 700;
$fontWeightDefault: 400;
$fontWeightExtraLight: 200;
$fontWeightLight: 300;
$fontWeightSemiBold: 600;

/* ---------- Text ---------- */

$fontSize: 16px;
$lineHeight: 1.5em;

/* ---------- Scaling ---------- */

$baseUnit: 16px;
$baseUnitless: strip-unit($baseUnit);

/* ---------- Spacing ---------- */

$spacingLarge: 4rem;
$spacingSmall: 1rem;
$spacingStandard: 2rem;
$spacingTiny: .5rem;

/* ---------- Transform ---------- */

$hoverTranslate: translateY(calc(-3px + -1%));
$hoverTranslateReset: translateY(0);

/* ---------- Width ---------- */

$maxFull: 1200px;
$maxLarge: 960px;
$maxMedium: 720px;
$maxSmall: 480px;
$maxExtraSmall: 320px;