/* ---------- Borders ---------- */

$borderRadius: 4px;
$borderWidth: 2px;

/* ---------- Colors ---------- */

$colorDark: #111;
$colorDarkAlt: #626163;
$colorError: #DB8C04;
$colorLight: #FFF;
$colorLightAlt: #DFDFDF;
$colorNeutral: #00538c;
$colorPositive: #008c39;
$colorPrimary: #8C000D;
$colorSecondary: #288282;

/* ---------- Text ---------- */

$fontSize: 16px;
$lineHeight: 1.5em;

/* ---------- Spacing ---------- */

$spacingLarge: 3rem;
$spacingSmall: 0.5rem;
$spacingStandard: 1rem;

/* ---------- Width ---------- */

$maxFull: 1200px;
$maxLarge: 960px;
$maxMedium: 720px;
$maxSmall: 480px;
$maxExtraSmall: 320px;