.banner {
	align-items: center;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	color: $colorLight;
	height: 35vw;
	margin: 0 -10px;
	max-height: 862px;
	min-height: 300px;
	padding: 2em;
	text-align: center;

	@include align-items(center);
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(center);

	&:before {
		background: black;
		bottom: 0;
		content: "";
		left: 0;
		opacity: .7;
		position: absolute;
		right: 0;
		top: 0;
	}

	&.bottom {
		background-position: bottom;
	}

	&.full-height {
		height: 100vh;
	}

	&.left {
		background-position: left;
	}

	&.right {
		background-position: right;
	}

	&.top {
		background-position: top;
	}

	.banner-content {
		text-transform: uppercase;
		z-index: 1;
	}

	.scroll-arrow {
		bottom: $spacingStandard;
		position: absolute;
		right: 50%;

		svg {
			fill: currentColor;
			stroke: currentColor;
		}
	}
}