#banner {
	color: $colorLight;
	position: fixed;
	width: 100%;
	z-index: 100;

	a {
		color: $colorLight;
		display: block;

		&:hover, &:focus {
			color: $colorSecondary;
		}

		&:active {
			color: darken($colorSecondary, 10%)
		}
	}

	.banner-wrapper {
		background: rgba(red($colorPrimary), green($colorPrimary), blue($colorPrimary), .95);
	}

	.banner-content {
		@include align-items(center);
		@include display(flex);
		@include justify-content(space-between);
	}

	.child-menu {
		background: rgba(red($colorDark), green($colorDark), blue($colorDark), .95);
		left: 0;
		max-height: 0;
		overflow: hidden;
		position: absolute;
		top: 100%;
		width: 100%;

		@include transition(max-height .25s);

		a {
			padding: $spacingTiny;
		}
	}

	.root-nav-item:active, .root-nav-item:focus, .root-nav-item:hover {
		.child-menu {
			max-height: 100px;

			@include transition-delay(0);
		}
	}

	.root-nav-item {
		position: static;
	}

	.selected > span {
		font-weight: bold;
	}

	ul {
		margin-bottom: 0;
		width: 100%;

		@include display(flex);
		@include align-items(center);
		@include justify-content(flex-end);
	}

	li {
		list-style: none;
	}

	a, .root-nav-item > span {
		display: block;
		padding: $spacingSmall;
	}

	.logo img {
		height: 40px;
		width: auto;
	}

	.mobile-nav-trigger {
		display: none;
	}

	@media all and (max-width: $breakpointTablet) {
		#navigation {
			background: $colorLight;
			height: calc(100vh - 100%);
			left: 0;
			position: absolute;
			right: 0;
			top: 100%;
			overflow: auto;

			&:not(.show-nav) {
				display: none;
			}

			a, li {
				color: $colorDark;
			}

			ul {
				display: block;
			}

			.child-menu {
				background: none;
				max-height: none;
				position: relative;
			}
		}

		.mobile-nav-trigger {
			display: block;
		}
	}
}

#footer {
	background: $colorDark;
	color: $colorLight;
	padding-top: $spacingStandard;

	a {
		color: $colorLight;

		&:hover, &:focus {
			color: $colorSecondary;
		}

		&:active {
			color: darken($colorSecondary, 10%)
		}
	}
}