#banner {
	border-bottom: $borderWidth solid $colorDark;

	.banner-wrapper {
		background: rgba(red($colorPrimary), green($colorPrimary), blue($colorPrimary), .8);
	}

	.banner-content {
		padding: $spacingSmall $spacingStandard;

		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);

		a {
			color: $colorLight;
		}
	}

	.child-menu {
		max-height: 0;
		overflow: hidden;

		@include transition(max-height .5s .5s);
	}

	.nav-item-0 .nav-item-0, .nav-item-1 .nav-item-1, .nav-item-2 .nav-item-2, .nav-item-3 .nav-item-3, .nav-item-4 .nav-item-4 {
		max-height: 50px;

		@include transition-delay(0);
	}

	.child-nav-wrapper {
		a {
			color: $colorDark;
		}
	}

	ul {
		margin: 0;
		width: 100%;

		@include display(flex);
		@include align-items(center);
		@include justify-content(flex-end);
	}

	li {
		list-style: none;
	}

	a {
		padding: $spacingSmall;
		text-decoration: none;
	}

	.logo img {
		height: 40px;
		width: auto;
	}
}

#footer {
	background: $colorDark;
	color: $colorLight;

	.footer-content {
		margin: 0 auto;
		max-width: $maxFull;
		padding: $spacingStandard;

		@include display(flex);
		@include align-items(stretch);
		@include justify-content(space-between);
	}

	.logo {
		height: 30px;
		width: auto;
	}

	.tagline {
		max-width: $maxExtraSmall;
	}
}